[submodule "src/extern/imgui"]
	path = src/extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/extern/spdlog"]
	path = src/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/extern/inipp"]
	path = src/extern/inipp
	url = https://github.com/mcmtroffaes/inipp
[submodule "src/extern/zydis"]
	path = src/extern/zydis
	url = https://github.com/zyantific/zydis
[submodule "src/extern/safetyhook"]
	path = src/extern/safetyhook
	url = https://github.com/cursey/safetyhook
[submodule "src/extern/json"]
	path = src/extern/json
	url = https://github.com/nlohmann/json
